absl-py
aiohttp
aiosignal
altair
annotated-types
ansi2html
anyio
appnope
argon2-cffi-bindings
argon2-cffi
arrow
asttokens
astunparse
async-lru
async-timeout
attrs
babel
backcall
backoff
bcrypt
beautifulsoup4
bleach
blinker
bs4
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
coloredlogs
comm
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
dash
dataclasses-json
debugpy
decorator
defusedxml
deprecated
dirtyjson
distro
dnspython
exceptiongroup
executing
fastapi
fastjsonschema
filelock
flask
flatbuffers
fqdn
frozenlist
fsspec
gast
gitdb
gitpython
google-auth-oauthlib
google-auth
google-pasta
greenlet
grpcio
gunicorn
h11
h5py
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib-resources
ipykernel
ipython
isoduration
itsdangerous
jedi
jinja2
joblib
json5
jsonpatch
jsonpointer
jsonschema-specifications
jsonschema
jupyter-client
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server-terminals
jupyter-server
jupyterlab-pygments
jupyterlab-server
jupyterlab
keras
langchain
langsmith
libclang
llama-index-agent-openai
llama-index-core
llama-index-embeddings-openai
llama-index-legacy
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index
llamaindex-py-client
lxml
markdown-it-py
markdown
markupsafe
marshmallow
matplotlib-inline
mdurl
mistune
ml-dtypes
monotonic
mpmath
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook-shim
numexpr
numpy
oauthlib
onnxruntime
openai
opt-einsum
outcome
overrides
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pip
platformdirs
plotly
posthog
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pulsar-client
pure-eval
pyarrow
pyasn1-modules
pyasn1
pycparser
pydantic-core
pydantic
pydeck
pygments
pymongo
pympler
pymupdf
pymupdfb
pypdf2
pypdf
pypika
pysocks
python-dateutil
python-docx
python-dotenv
python-json-logger
pytz-deprecation-shim
pytz
pyyaml
pyzmq
referencing
regex
requests-oauthlib
requests
retrying
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
scikit-learn
scipy
selenium
send2trash
setuptools
six
smmap
sniffio
sortedcontainers
soupsieve
sqlalchemy
stack-data
starlette
streamlit
sympy
tenacity
termcolor
terminado
threadpoolctl
tiktoken
tinycss2
tokenizers
toml
tomli
toolz
tornado
tqdm
traitlets
trio-websocket
trio
types-python-dateutil
typing-extensions
typing-inspect
tzdata
tzlocal
uri-template
urllib3
uvicorn
uvloop
validators
watchfiles
wcwidth
webcolors
webdriver-manager
webencodings
websocket-client
websockets
werkzeug
wheel
wrapt
wsproto
xlsxwriter
yarl
zipp